## Proyecto Modulo 1

### Maximización de la producción de la bebida Kuit y sus beneficios.

**Objetivo General:** Generar un modelo matemático que maximice la producción de Kuit y sus beneficios.

**Objetivos específicos:**
+ Investigar y organizar datos correspondientes a la producción de la bebida Kuit.
+ Plantear un modelo de programación lineal que proporcione una solución óptima de acuerdo a la función objetivo y las restricciones de los datos.

Mediante este proyecto se busca optimizar la producción de la empresa Kuit Artesanal mediante la programación lineal, tomando como variables principales los 3 productos que se producen con restricciones y una función de costos específicos. Esto con el fin de maximizar las ventas al duplicar nuestra producción y ver los resultados arrojados.
Como restricciones sabemos que Kuit Original tiene que ser el producto de mayor producción y Kuit Gold no puede ser menor a 60.

$x_1 = Kuit Original$

$x_2 = Kuit Black$

$x_3 = Kuit Gold$

DATOS

In [1]:
import pandas as pd

In [2]:
file_name = 'produccion semanal.csv'
data = pd.read_csv(file_name)
data

      Unnamed: 0  Cap. Prod. Actual Sem.  Cap. Prod. Nueva Sem.  Precio
0  Kuit Original                400.0000               800.0000    35.0
1     Kuit Black                200.0000               400.0000    45.0
2      Kuit Gold                133.3332               266.6664    40.0
3          TOTAL                733.3332              1466.6664     NaN

**Función a optimizar:**

$35x_1+45x_2+40x_3$

**Restricciones:**

$x_1\leq 800$

$x_2\leq 400$

$x_3\leq 266$

$x_1>x_2+x_3$

$x_3>60$

CODIGO

GRAFICA

CONCLUSIONES

REFERENCIAS