## Proyecto Modulo 1

### Integrantes del equipo:
- Integrante 1: Cuauhtémoc Corrales Camacho
- Integrante 2: Marco Antonio Sánchez Covarrubias
- Integrante 3: Alejandro Serrano Silva

# Maximización de la producción de la bebida Kuit y sus beneficios.

**Objetivo General:** Generar un modelo matemático que maximice la producción de Kuit y sus beneficios.

**Objetivos específicos:**
+ Investigar y organizar datos correspondientes a la producción de la bebida Kuit.
+ Plantear un modelo de programación lineal que proporcione una solución óptima de acuerdo a la función objetivo y las restricciones de los datos.

### Introducción de Proyecto.

Mediante este proyecto se busca optimizar la producción de la empresa Kuit Artesanal mediante la programación lineal, tomando como variables principales los 3 productos que se producen con restricciones y una función de costos específicos. Esto con el fin de maximizar las ventas al duplicar nuestra producción y ver los resultados arrojados.
Como restricciones sabemos que Kuit Original tiene que ser el producto de mayor producción y Kuit Gold no puede ser menor a 60.

$x_1$: Cantidad de botellas producidas semanalmente de Kuit Original

$x_2$: Cantidad de botellas producidas semanalmente de Kuit Black

$x_3$: Cantidad de botellas producidas semanalmente de Kuit Gold

### Datos

In [5]:
import pandas as pd

In [18]:
file_name = 'produccion semanal.csv'
data = pd.read_csv(file_name)
data

      Unnamed: 0  Cap. Prod. Actual Sem.  Cap. Prod. Nueva Sem.  Precio
0  Kuit Original                400.0000               800.0000    35.0
1     Kuit Black                200.0000               400.0000    45.0
2      Kuit Gold                133.3332               266.6664    40.0
3          TOTAL                733.3332              1466.6664     NaN

**Función a optimizar:**

$\max_{x_1,x_2,x_3} 35x_1+45x_2+40x_3$

**Restricciones:**

$x_1\leq 800$

$x_2\leq 400$

$x_3\leq 266$

$-x_2 + 2x_3 \leq 0$

$-x_1+x_2+x_3\leq 0$

$-x_3\leq -60$

+ La restricción 1 se refiere a que el número de botellas de Kuit Original no puede ser mayor a 800.
+ La restricción 2 se refiere a que el número de botellas de Kuit Black no puede ser mayor a 400.
+ La restricción 3 se refiere a que el número de botellas de Kuit Gold no puede ser mayor a 266.
+ El número de botellas de Kuit Black debe ser al menos el doble del número de botellas de Kuit Gold.
+ El número de botellas de Kuit Original debe ser mayor a la suma de botellas de Kuit Black y Kuit Gold.
+ El número de botellas de Kuit Gold debe de ser mínimo 60.

### Solución al problema

In [7]:
import numpy as np
import sympy as sym
import matplotlib.pyplot as plt
import scipy.optimize as opt

In [8]:
c = np.array([-35,-45,-40])

A = np.array([[1,0,0],
             [0,1,0],
             [0,0,1],
             [0,-1,2],
             [-1,1,1],
             [0,0,-1]])

b = np.array([800,400,266,0,0,-60])

In [9]:
R = opt.linprog(c,A_ub=A,b_ub=b)

In [10]:
R

     con: array([], dtype=float64)
     fun: -54000.0
 message: 'Optimization terminated successfully.'
     nit: 5
   slack: array([  0.,   0.,  66.,   0., 200., 140.])
  status: 0
 success: True
       x: array([800., 400., 200.])

In [11]:
Ganancia_Maxima = (R.fun)*-1

In [12]:
print("La ganancia máxima fue",Ganancia_Maxima)

La ganancia máxima fue 54000.0

In [13]:
x_1 = (R.x)[0]
x_2 = (R.x)[1]
x_3 = (R.x)[2]

In [14]:
print("El número óptimo de botellas de Kuit Original es",x_1,"botellas")
print("El número óptimo de botellas de Kuit Black es",x_2,"botellas")
print("El número óptimo de botellas de Kuit Gold es",x_3,"botellas")

El número óptimo de botellas de Kuit Original es 800.0 botellas
El número óptimo de botellas de Kuit Black es 400.0 botellas
El número óptimo de botellas de Kuit Gold es 200.0 botellas

### Tabla de optimización

In [63]:
file_name1 = 'produccion semanal_voptimo.csv'
data1 = pd.read_csv(file_name1)
data1

,Unnamed: 0,Cap. Prod. Actual Sem,Produccion actual,Cap. Prod. Nueva Sem,Prod. Optima,Precio
0,Kuit Original,400.0000,350,800.0000,800,35.0
1,Kuit Black,200.0000,180,400.0000,400,45.0
2,Kuit Gold,133.3332,110,266.6664,200,40.0
3,TOTAL,733.3332,640,1466.6664,1400,NaN

### Conclusiones

Tras el análisis de la nueva producción e interpretar sus resultados, se obtuvo que los valores óptimos en referencia al número de botellas producidas semanalmente a partir de las capacidades dadas, fueron:
+ 800 botellas de Kuit Original 
+ 400 botellas de Kuit Black
+ 200 botellas de Kuit Gold

**La ganancia semanal con los valores óptimos fue de 54,000**

Dichas cantidades cumplen con las restricciones y la función objetivo establecidas por el planteamiento de la problemática, en donde fue necesario su solución mediante una maximización donde para que python pudiera interpretarlo de manera adecuada fue necesario transformar la función así como ciertas restricciones a mínimos.

Para obtener la solución del problema, se hizo uso de un sistema de matrices y de funciones de programación lineal incluídas en librerías de Python. Una vez obtenida la solución se multiplico la ganancia obtenida por $-1$ debido a que anteriormente se había convertido a mínimo y el problema exigía como resultados máximos.

### Referencias

Todos los datos utilizados fueron obtenidos de Kuit Artesanal

Link: www.kuit.mx